@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  border-color: inherit;
}

video {
  outline: 4px solid white;
  outline-offset: -4px;
}

.header-border {
  height: 5px;
  background: yellow;
  width: 100vw;
  z-index: 2;
  background: repeating-linear-gradient(10deg, rgb(244, 234, 208) 0%, #ffffff, rgb(244, 234, 208));
  background-size: 200% 200%;
  animation: slide 4s linear infinite;
}

.header-red {
  background: repeating-linear-gradient(10deg, rgb(244, 234, 208), #EF5C5C, rgb(244, 234, 208));
  background-size: 200% 200%;
}

.header-blue {
  background: repeating-linear-gradient(10deg, rgb(244, 234, 208), #3B8BEB, rgb(244, 234, 208));
  background-size: 200% 200%;
}

.header-green {
  background: repeating-linear-gradient(10deg, rgb(244, 234, 208), #5CD595, rgb(244, 234, 208));
  background-size: 200% 200%;
}

@keyframes slide {
  0% {
    background-position: 0% -0%;
  }

  100% {
    background-position: -200% 0%;
  }
}

#scrolly-text {
  font-family: "Arial Rounded MT Bold", Arial, sans-serif;
}

#scrolly-text:hover {
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  -webkit-text-stroke-width: 1px;
}